.col-md-2
.col-md-8
  .page-header
    %h1 Users
  %table.table.table-striped
    %tr
      %th Email
      %th First Name
      %th Last Name
    - @users.each do |user|
      %tr
        %td
          = user.email
        %td
          = user.first_name
        %td
          = user.last_name
.col-md-2
