%div.col-md-12.page-header
  %h1 Account
%div.col-md-12
  %div.col-md-8
    %div.lead
      Username:
      %strong
        = @user.username
    %div.lead
      Email Address:
      %strong
        = @user.email
    %div.lead
      First Name:
      %strong
        = @user.first_name
    %div.lead
      Last Name:
      %strong
        = @user.last_name
