%nav.navbar.navbar-inverse{role: 'naviagation'}
  %div.container
    %div.col-md-1
    %div.col-md-10
      %div.navbar-header
        = link_to :root, class: 'navbar-brand' do
          akWishlists
          = fa_icon 'gift'
      %div.collapse.navbar-collapse
    %div.col-md-1
