%div.col-md-2

%div.col-md-8.container
  %div.col-md-12.page-header
    %h1 About
  %div.col-md-12
    %p.lead
      akWishlists is a site for familial organization when
      it comes to buying gifts for others. It ensures people
      do not buy the same item more than once, and it is extensible
      to allow for other cooperative family functions.

%div.col-md-2
