.col-md-2
.col-md-8
  .page-header
    %h1 About
  %p.lead
    akWishlists is a site for familial organization when
    it comes to buying gifts for others. It ensures people
    do not buy the same item more than once, and it is extensible
    to allow for other cooperative family functions.
  = link_back
.col-md-2
