development:
  adapter: postgresql
  host: db
  database: wishlists_dev
  user: postgres
  password: password

test:
  adapter: postgresql
  host: db
  database: wishlists_test
  user: postgres
  password: password
