@import "bootstrap";
@import "font-awesome";
@import "jquery.ui.all";

.field_with_errors {
  @extend .has-error;
}

.table-responsive {
  overflow: scroll;
  td {
    max-width: 100px;
    overflow: auto;
    white-space: nowrap;
  }
}
